body {
  padding: 0px;
  margin: 0px;
  margin: 0 auto;
  scroll-behavior: smooth;
}
.nav-bar {
  padding: 0% 10%;
  background-color: #516495;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1%;
}

.nav-bar img {
  height: 100px;
  margin-right: auto;
}

.nav-bar h2 {
  margin-left: 5%;
  color: white;
  font-size: 1.5em;
}
.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:visited {
  color: white;
  text-decoration: none;
}
