@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #516495;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  backface-visibility: hidden;
  scroll-behavior: smooth;
}
.nav-bar {
  padding: 10px 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

nav h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 4.5em;
  color: white;
  margin: 0px;
}

.bg-clr {
  width: 80%;
  height: 500px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  border-radius: 15px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.welcome-text {
  width: 20%;
  padding: 1% 5%;
  color: rgb(253, 244, 244);
  text-align: center;
  font-weight: bold;
  border-radius: 10px 0px 0px 10px;
}

.welcome-text p {
  font-weight: 600;
  margin-top: 50px;
}

.login {
  width: 42%;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding: 2% 3%;
}

.login h1 {
  text-align: center;
  font-weight: bolder;
  color: #f7f9ff;
  margin: 0px;
  font-weight: bolder;
  margin-bottom: 40px;
  font-size: 3em;
}

.login-input {
  font-family: 'Montserrat', sans-serif;

  margin: 0 auto;
  width: 80%;
  margin-bottom: 0px;
  display: block;
  height: 50px;
  border-radius: 4px;
  border-width: 1px;
  font-size: 1.2em;
  font-weight: 800;
  padding-left: 10px;
}

.login-button {
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;

  width: 30%;
  font-size: 2em;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  letter-spacing: 5px;
  font-weight: 500;
  border-width: 0px;
}

.login-button:hover {
  background-color: rgb(63, 61, 90);
  cursor: pointer;

  color: white;
  font-family: 'Montserrat', sans-serif;
}

.input-flex {
  display: flex;
  margin-bottom: 40px;
}
.input-flex h3 {
  align-items: center;
}

.sign-up {
  background-color: rgb(209, 206, 206);
  font-size: 1.5em;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  border-width: 0px;
  text-decoration: none;
  width: 15%;
  padding: 10px;
  cursor: pointer;
  box-shadow: #000000 4px 4px 5px;
}

.sign-up:hover {
  background-color: rgb(63, 61, 90);
  cursor: pointer;
  color: white;
}

hr {
  margin-bottom: 100px;
}

i {
  padding: 0px;
  margin: 0px;
  font-size: 2.5em;
  color: #ffffff;
  margin-top: 5px;
}

.x {
  padding: 0px;
  margin: 0px;
  font-size: 2.5em;
  color: rgb(226, 196, 26);
  margin-top: 10px;
}

.img-style {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  height: 100vh;
  overflow: hidden;
}

.bg-img {
  filter: blur(2px);
}
