<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="editprofile.css">
</head>

<body>
    <nav class="nav-bar">
        <img src="../../public/images/logo.png" alt="">
        <h2><a href="/home">HOME</a></h2>
        <h2><a href="/profile">PROFILE</a></h2>

    </nav>


    <h1 style=" font-size: 3em;
    text-align: center;
    color:white;
    margin-bottom: 50px;"> Edit Profile</h1>

    <div class="profile-content">

        <img src="https://lh3.googleusercontent.com/FQPyrB2veLNFgX3jDJRCppJIO21QvqS5-aFFUhjKikNyoz7Y-XACw93aoTpYgoN72L5SeYQP30ge40F2_jCAdFA"
            alt="Charlie Puth">

        <div class="profile-info">
            <div>
                <input type="text" value="Swastik Chaudhary">
                <textarea name="" id="" cols="30" rows="10">Lorem Ipsum</textarea>
                <hr>
            </div>

            <div class="profile-info-2">
                <table cellspacing="10">
                    <tr>
                        <td>Name </td>
                        <td><input type="text" value="Swastik Chaudhary"></td>
                    </tr>

                    <tr>
                        <td>Age </td>
                        <td><input type="number" value="19"></td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td>swastikkumar50@gmail.com</td>
                    </tr>

                    <tr>
                        <td>Gender</td>
                        <td>Male</td>
                    </tr>

                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="" id=""></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <hr style="margin-bottom: 100px;">

    <div class="tech-qual">
        <h1>Technical Qualifications</h1>
        <table cellspacing="10">
            <tr>
                <td style="font-size: 1.5em;">1 )</td>
                <td><input type="text" value="Swastik Chaudhary"></td>
            </tr>

            <tr>
                <td style="font-size: 1.5em;">2 )</td>
                <td><input type="text" value="Swastik Chaudhary"></td>
            </tr>

            <tr>
                <td style="font-size: 1.5em;">3 )</td>
                <td><input type="text" value="Swastik Chaudhary"></td>
            </tr>
        </table>
    </div>
    <div class="tech-interest">
        <h1>Interests</h1>

        <div class="checkboxes">
            <label class="label-box">
                <input type="checkbox" name="frontdevelopment" value="Front-End Develoment">
                <p>Front-End Develoment</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="backdevelopment" value="Back-End Develoment">
                <p>Back-End Develoment</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="javascript" value="JavaScript">
                <p>JavaScript Expert</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="testing" value="Testing">
                <p>Testing</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="node" value="Node.js Developer">
                <p>Node.js Developer</p>
            </label>
            <label class="label-box">
                <input type="checkbox" name="react" value="React">
                <p>React</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="ai" value="AI/ML">
                <p>AI/ML</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="dataScience" value="Data Science">
                <p>Data Science</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="softengineer" value="Software Engineer">
                <p>Software Engineer</p>
            </label>

            <label class="label-box">
                <input type="checkbox" name="flutter" value="Flutter">
                <p>Flutter</p>
            </label>
        </div>
    </div>
    <div class="footer">
        <button>SAVE</button>
        <a href="/delete"><button>DELETE</button></a>
        <p>Note: Clicking this button will delete your account permanently</p>
    </div>


</body>

</html>