<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/homepage.css">
</head>

<body>
    <nav class="nav-bar">
        <img src="../public/images/logo.png" alt="">
        <h2><a href="/home">HOME</a></h2>
        <h2><a href="/profile">PROFILE</a></h2>
    </nav>

    <h1>Here Are Some Potential Matches For You</h1>

    <div class="main">

        <div class="user">
            <div class="content">
                <img src="https://lh3.googleusercontent.com/FQPyrB2veLNFgX3jDJRCppJIO21QvqS5-aFFUhjKikNyoz7Y-XACw93aoTpYgoN72L5SeYQP30ge40F2_jCAdFA"
                    alt="Charlie Puth">
                <div>

                    <h1>Swastik Chaudhary</h1>
                    <h2>Age: 19</h2>
                    <h2>Gender: Male</h2>
                    <h2>Technical Qualifications</h2>
                    <ul>
                        <li>Android Development</li>
                        <li>Android Development</li>
                        <li>Android Development</li>

                    </ul>
                </div>
            </div>

            <div>
                <h2>Interests</h2>
                <ul>
                    <li>Android Development</li>
                    <li>Android Development</li>
                    <li>Android Development</li>
                </ul>
                <h2>Bio:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate nibh quis finibus rutrum.
                    Aliquam ipsum libero, ultrices at rutrum sed, mollis at orci. In pretium non nisi ut posuere. Proin
                    lobortis velit mi, vitae pretium arcu aliquam non. Maecenas volutpat, felis a lacinia suscipit, leo
                    lectus sollicitudin mi, sit amet tristique ligula turpis in quam. Aliquam erat volutpat. Lorem ipsum
                </p>
            </div>

        </div>

    </div>
</body>

</html>